<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div>
		<form action="/processupdate" method="get">
			<label>real name</label><br>
			<input type="text" name="realname">
			<br>
			<label>address</label><br>
			<input type="text" name="address">
			<br>
			<label>car license status</label><br>
			<input type="checkbox" name="carlicensestatus">
			<br>
			<label>motorcycle license status</label><br>
			<input type="checkbox" name="motorcyclelicensestatus">
			<br>
			<label>employment</label><br>
			<input type="text" name="employment">
			<br>
			<input type="submit">
		</form>
    </div>
</body>
</html>